Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Migrate==4.0.5
email-validator==2.2.0
qrcode==7.4.2
Pillow==10.4.0
reportlab==4.2.2
gunicorn==21.2.0
requests==2.32.3
beautifulsoup4==4.12.3
urllib3==1.26.18
python-dotenv==1.0.1
cloudinary==1.32.0
openai==1.58.1
cryptography==43.0.3
